<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <%= simple_form_for(@bathroom) do |f| %>
            <%= f.input :title %>
            <%= f.input :address %>
            <%= f.input :content %>
            <%= f.input :price %>
            <%= f.input :photos, as: :file, as: :file, input_html: { multiple: true } %>
            <%= f.button :submit, 'Confirm Editing', class: "button btn btn-gradient rounded-1" %>
      <% end %>
    </div>
    <div class="col-8">
      <img src="https://images.unsplash.com/photo-1507652313519-d4e9174996dd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmF0aHJvb218ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Full Size Background Image"/>
    </div>
  </div>
</div>
